<!DOCTYPE html>

<head>
    
<html lang="en">
<meta charset="UTF-8">

<!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
          

<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />

<title>Burger Eater</title>

</head>

<body>


    {{{ body }}}


</body>

</html>